@import url("../../../style.css");

:root {
  --color-sidebar-background: var(--color-white-300);
  --color-sidebar-foreground: var(--color-white-700);
}

.sidebar {
  background-color: var(--color-sidebar-background);

  display: grid;
  grid-template-rows: 5fr 0.2fr;
}

.sidebar__navigation {
  margin-inline: 0.5rem;
  margin-top: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.sidebar__list-container {
  padding: 0.2rem 0.8rem;
  border-radius: 6px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar__list-container:hover {
  background-color: rgba(128, 128, 128, 0.199); 
}

.sidebar__list-text {
  font-size: var(--text-sm);
}

.sidebar__list-button {
  font-size: var(--text-sm);
  padding-inline: 0.5rem;
  border-radius: var(--rounded-sm);
  border: none;
  outline: none;
  background-color: transparent;

  display: none;
}

.sidebar__list-button:hover {
  background-color: rgba(128, 128, 128, 0.384);
}

.sidebar__list-container:hover .sidebar__list-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__input-container {
  padding: 0.1rem 0.8rem;
  border-radius: 6px;
  background-color: rgba(128, 128, 128, 0.199); 

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar__input {
  width: 100%;
  box-sizing: border-box;
  font-size: var(--text-sm);
  border: 0px solid transparent;
  outline: none;
  background-color: transparent;
}

.sidebar__button-container {
  border-top: 1px solid var(--color-white-500);
  padding: 0.5rem 1.2rem;

  display: flex;
  align-items: center;
}

.sidebar__newlist-button {
  border: none;
  background-color: transparent;
  color: var(--color-white-900);
  font-size: var(--text-sm);
  cursor: pointer;
}

.sidebar__newlist-button:hover {
  color: var(--color-black-900);
}