@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/open-sans/open-sans-v40-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/open-sans/open-sans-v40-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/open-sans/open-sans-v40-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/open-sans/open-sans-v40-latin-700.woff2") format("woff2");
}

:root {
  /* Colors */
  --color-background-primary: hsl(0, 0%, 100%);
  --color-foreground-primary: hsl(300, 21%, 5%);
  --color-accent-primary: hsl(219, 44%, 65%);

  /* typography */
  --font-primary: "Open Sans", "sans-serif";

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --text-sm: 0.8rem;
  --text-md: 1rem;
  --text-lg: 1.53rem;
  --text-xl: 2rem;

  /* Spacing */
  --space-sm: 1rem;
  --space-md: 1.42rem;
  --space-lg: 2rem;
  --space-xl: 3rem;

  /* Rounded Corner */
  --rounded-sm: 6px;
  --rounded-md: 8px;
  --rounded-lg: 10px;
  --rounded-xl: 12px;
  --rounded-full: 999px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-primary);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
