@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/open-sans/open-sans-v40-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/open-sans/open-sans-v40-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/open-sans/open-sans-v40-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/open-sans/open-sans-v40-latin-700.woff2") format("woff2");
}

:root {
  /* Colors */
  --color-white-100: hsl(0, 0%, 100%);
  --color-white-300: hsl(0, 0%, 95%);
  --color-white-500: hsl(0, 0%, 77%);
  --color-white-700: hsl(0, 0%, 53%);
  --color-white-900: hsl(0, 0%, 31%);

  --color-black-100: hsl(300, 21%, 67%);
  --color-black-300: hsl(300, 21%, 48%);
  --color-black-500: hsl(300, 21%, 22%);
  --color-black-700: hsl(300, 21%, 13%);
  --color-black-900: hsl(300, 21%, 5%);

  --color-accent-100: hsl(219, 44%, 82%);
  --color-accent-300: hsl(219, 44%, 65%);
  --color-accent-500: hsl(219, 44%, 53%);
  --color-accent-700: hsl(219, 44%, 34%);
  --color-accent-900: hsl(219, 44%, 20%);

  /* typography */
  --font-primary: "Open Sans", "sans-serif";

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --text-xs: 0.8rem;
  --text-sm: 0.9rem;
  --text-md: 1rem;
  --text-lg: 1.53rem;
  --text-xl: 2.45rem;
  --text-xxl: 4rem;

  /* Spacing */
  --space-xs: 0.8rem;
  --space-sm: 1rem;
  --space-md: 1.42rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 5rem;

  /* Rounded Corner */
  --rounded-sm: 6px;
  --rounded-md: 8px;
  --rounded-lg: 10px;
  --rounded-xl: 12px;
  --rounded-full: 999px;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-family: var(--font-primary);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

.root{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}